div.container_aboutus
    div.section_aboutus
        div.bg_aboutus 
            img.bg_img(src='./../img/background-AboutUs.jpg', alt='')
        div.content_aboutus 
            div.title_aboutus 
                h2 About Us 
                h5 You Can Trust Us 
            div.paragraph_aboutus 
                br
                br
                br
                strong
                    p.paragraph_title Organic Foods 
                p We have your fruit favorites, and maybe some that you have never heard of! We offer apples, peaches, nectarines, sweet cherries, sour cherries, etc
                br
                p We have your fruit favorites, and maybe some that you have never heard of! We offer apples, peaches, nectarines, sweet cherries, sour cherries, etc
                br
                p.sdt_aboutus
                    i.bi.bi-telephone-fill
                    |  +1 0915 055 995
                a.mail_aboutus(href='#')
                    i.bi.bi-envelope-fill
                    |  infoshop@gmail.com