.gallery_container
    p gallery_container
.client_review_container0
    .client_review_container
        .client_review_content
            .title
                h2 Testimonials
                h5 WHAT OUR CLIENTS SAY
            .review
                .splide.splide-client(role='group' aria-label='Splide Basic HTML Example')
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                .client_review
                                    .client_avatar
                                        img(src='../img/client-review_face01.jpg' alt='client avatar' srcset='')
                                    p.client_text
                                        | Wow Very Nice Team, I&apos;m so happy with your service. You
                                        | managed to exceed my expectations! You guys are very efficient and I will
                                        | refer
                                        | more people to your company!
                                    h3.client_name Zahra Butt
                                    .client_stars
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill  
                            li.splide__slide
                                .client_review
                                    .client_avatar
                                        img(src='../img/client-review_face02.jpg' alt='client avatar' srcset='')
                                    p.client_text
                                        | Wow Very Nice Team, I&apos;m so happy with your service. You
                                        | managed to exceed my expectations! You guys are very efficient and I will
                                        | refer
                                        | more people to your company!
                                    h3.client_name Zahra Butt
                                    .client_stars
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                            li.splide__slide
                                .client_review
                                    .client_avatar
                                        img(src='../img/client-review_face03.jpg' alt='client avatar' srcset='')
                                    p.client_text
                                        | Wow Very Nice Team, I&apos;m so happy with your service. You
                                        | managed to exceed my expectations! You guys are very efficient and I will
                                        | refer
                                        | more people to your company!
                                    h3.client_name Zahra Butt
                                    .client_stars
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
                                        i.bi.bi-star-fill
        .illustration-img(style='background-image: url(../img/client-review_background.jpg);')
// Events
.event_container
    h2 Upcoming Events
    h5 OUR NEWS AND EVENTS
    .tabs
        #event01.event
            .title
                a(href='#') Easiest Fruits and Vegetables to Grow in home?
                p January 10, 2022
                a.btn(href='#') Read More
            .thumbnail
                img(src='../img/event01.jpg' alt='event thumbnail' srcset='')
        #event02.event
            .title
                a(href='#') What is the quickest fruit to grow at home?
                p October 17, 2022
                a.btn(href='#') Read More
            .thumbnail
                img(src='../img/event02.jpg' alt='event thumbnail' srcset='')
        #event03.event
            .title
                a(href='#') What is the fastest growing vegetable or fruit?
                p November 15, 2022
                a.btn(href='#') Read More
            .thumbnail
                img(src='../img/event03.jpg' alt='event thumbnail' srcset='')



script(type="module" src="../js/client_review.js") 


