.contact(style="background-image: url('../img/background-Contact.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100%; background-attachment: fixed")
    div.container_contactus
        div.section_contactus    
            //- img(src="../img/background-Contact.jpg", alt="")
            div.bg_contactus
                div.content_contactus
                    h2.title_quickService Quick Services
                    h5.title_message Offering Quick And Guaranting The Quality Of Products!
                    h3.title_phone (
                        i.bi.bi-telephone-fill
                            |  +1 122 404 735)