.event_container
    h2 Upcoming Events
    h5 OUR NEWS AND EVENTS
    .tabs
        #event01.event
            .title
                a(href='#') Easiest Fruits and Vegetables to Grow in home?
                p January 10, 2022
                a.btn(href='#') Read More
            .thumbnail
                img(src='../img/event01.jpg' alt='event thumbnail' srcset='')
        #event02.event
            .title
                a(href='#') What is the quickest fruit to grow at home?
                p October 17, 2022
                a.btn(href='#') Read More
            .thumbnail
                img(src='../img/event02.jpg' alt='event thumbnail' srcset='')
        #event03.event
            .title
                a(href='#') What is the fastest growing vegetable or fruit?
                p November 15, 2022
                a.btn(href='#') Read More
            .thumbnail
                img(src='../img/event03.jpg' alt='event thumbnail' srcset='')

