//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   title Footer
//-   link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
//-   link(rel='stylesheet' href='./../scss/component/footer.scss')
//- div(style='height: 100vh')
.footer
  .container__footer
    .content__footer
      .footer_main
        .footer_main__content
          h2.footer_main__content__title Information
          .footer_main__content__p
            p.information Services
            p.information Products
            p.information Testimonials
            p.information Events
        .footer_main__content
          h2.footer_main__content__title Contact Info
          .footer_main__content__p
            .contact
              i.bi.bi-geo-alt.contact_icon
              p.contact__content Pure Organic, 207th Ave, 9000, United State
            .contact
              i.bi.bi-telephone.contact_icon
              p.contact__content +1 123 456 789
            .contact
              i.bi.bi-envelope.contact_icon
              p.contact__content info@example.com
        .footer_main__content
          h2.footer_main__content__title Opening Hours
          .footer_main__content__p
            .content_opening
              p.content_opening__left Fri
              p.content_opening__right 24/7
            .content_opening
              p.content_opening__left Sun - Thu
              p.content_opening__right 8:00am - 11:30pm
            .content_opening
              p.content_opening__left Saturday
              p.content_opening__right Closed
      .footer_src
        .footer_src__designBy
          p.footer_src__designBy__content Pure Organic &copy; 2022 - Designed by Thesoft.
        .footer_src__terms
          .footer_src__designBy__terms
            a.footer_src__designBy__link__left(href='#') Terms &amp; Conditions
          .footer_src__designBy__privacy
            a.footer_src__designBy__link__right(href='#') Privacy Policy
