div.gallery_container
  .wrap
    section#products.section-padding.shop-area
      .container
        .section-title
          h2 Our Gallery
          h5(style='color: #84b315;') We Have Best Organic Products
          //- .container
        .nav-bg
          .container1 
            .nav
              .nav-menu
                ul.nav-menu__list
                  li.nav-menu__item
                    a.nav-menu__link.btn-2(href='#' style='background-color: #84b315; color: white;')
                      | All
                  li.nav-menu__item
                    a.nav-menu__link.btn-2(href='#')
                      | Fruit
                  li.nav-menu__item
                    a.nav-menu__link.btn-2(href='#')
                      | Vegetables
                  li.nav-menu__item
                    a.nav-menu__link.btn-2(href='#')
                      | Wheat
                  li.nav-menu__item
                    a.nav-menu__link.btn-2(href='#')
                      | Drinks
    .flex-box
      .st_3
        div
          img(src='../img/gallery_apple.png')
        div
          img(src='../img/gallery_appricot.png')
        div
          img(src='../img/gallery_strawberry.png')
        div
          img(src='../img/gallery_pineapple.png')
      .nd_3
        div
          img(src='../img/gallery_cherry.png')
        div
          img(src='../img/gallery_kale.png')
        div
          img(src='../img/gallery_cashew.png')
        div
          img(src='../img/gallery_cucumber.png')
    .btn-1-block
      a.btn-1(href='#') View Gallery