doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Test
  link(rel='stylesheet' href='./our_product.scss')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide-core.min.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css')
section#products.section-padding.shop-area
  .container
    .section-title
      h2 Our products
      h5(style='color: green;') Best Selling Organic Products
  .container1
    .nav
      .splide(role='group' aria-label='Splide Basic HTML Example')
        .splide__track
          ul.splide__list
            li.splide__slide
              #b1.nav__block
                .img__block.slide

                  img(src='../img/our_product-orange.png')

                .img__block1.slide
                  tr
                    h3
                      | Orange/
                      span(style='font-family: Roboto, sans-serif;\
                      font-weight: normal;\
                      font-size: 12px;\
                      line-height: 1.3;\
                      color: #FF9800;')
                        | Orange
                    br
                  tr
                    p
                      | $3.75
                      span &euro;3.75
                    .card__controller
                      .card__controller__block
                        br
                        a.btn-card__controller(href='#') Order now
            li.splide__slide
              #b1.nav__block
                .img__block.slide

                  img(src='../img/our_product-pineapple.png')

                .img__block1.slide
                  tr
                    h3
                      | Pineapple/
                      span(style='font-family: Roboto, sans-serif;\
                      font-weight: normal;\
                      font-size: 12px;\
                      line-height: 1.3;\
                      color: #FF9800;')
                        | Pineapple
                    br
                  tr
                    p
                      | $3.75
                      span &euro;3.75
                    .card__controller
                      .card__controller__block
                        br
                        a.btn-card__controller(href='#') Order now
            li.splide__slide
              #b1.nav__block
                .img__block.slide
                  img(src='../img/cabbage.png')

                .img__block1.slide
                  tr
                    h3
                      | Cabbage/
                      span(style='font-family: Roboto, sans-serif;\
                      font-weight: normal;\
                      font-size: 12px;\
                      line-height: 1.3;\
                      color: #FF9800;')
                        | Cabbage
                    br
                  tr
                    p
                      | $1.61
                      span &euro;1.61
                    .card__controller
                      .card__controller__block
                        br
                        a.btn-card__controller(href='#') Order now
            li.splide__slide
              #b1.nav__block
                .img__block.slide
                  img(src='../img/garlic-onion.png')

                .img__block1.slide
                  tr
                    h3
                      | Garlic-onion/
                      span(style='font-family: Roboto, sans-serif;\
                      font-weight: normal;\
                      font-size: 12px;\
                      line-height: 1.3;\
                      color: #FF9800;')
                        | Garlic-onion
                    br
                  tr
                    p
                      | $5.22
                      span &euro;5.22
                    .card__controller
                      .card__controller__block
                        br
                        a.btn-card__controller(href='#') Order now
            li.splide__slide
              #b1.nav__block
                .img__block.slide

                  img(src='../img/our_product-avocado.png')
                .img__block1.slide
                  tr
                    h3
                      | Avocado/
                      span(style='font-family: Roboto, sans-serif;\
                      font-weight: normal;\
                      font-size: 12px;\
                      line-height: 1.3;\
                      color: #FF9800;')
                        | Avocado
                    br
                  tr
                    p
                      | $3.75
                      span &euro;3.75
                    .card__controller
                      .card__controller__block
                        br
                        a.btn-card__controller(href='#') Order now
            li.splide__slide
              #b1.nav__block
                .img__block.slide

                  img(src='../img/our_product-apple.png')

                .img__block1.slide
                  tr
                    h3
                      | Apple/
                      span(style='font-family: Roboto, sans-serif;\
                      font-weight: normal;\
                      font-size: 12px;\
                      line-height: 1.3;\
                      color: #FF9800;')
                        | Apple
                    br
                  tr
                    p
                      | $1.44
                      span &euro;1.44
                    .card__controller
                      .card__controller__block
                        br
                        a.btn-card__controller(href='#') Order now
            li.splide__slide
              #b1.nav__block
                .img__block.slide

                  img(src='../img/our_product-apricot.png')

                .img__block1.slide
                  tr
                    h3
                      | Apricot/
                      span(style='font-family: Roboto, sans-serif;\
                      font-weight: normal;\
                      font-size: 12px;\
                      line-height: 1.3;\
                      color: #FF9800;')
                        | Apricot
                    br
                  tr
                    p
                      | $2.54
                      span &euro;2.54
                    .card__controller
                      .card__controller__block
                        br
                        a.btn-card__controller(href='#') Order now
script(src='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js')


//- var splide = new Splide( '.splide', {
//-     type   : 'loop',
//-     perPage: 2,
//-     perMove: 2,
//-     breakpoints: {
//-       1669: {
//-         perPage: 1,
//-       },
//-     }
//-   } );
  
//-   splide.mount();
