* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}
body {
    font-size: 1.6rem;
}
/* flex */
.cha {
    border: 2px solid red;
    display: flex;
}
.con1 {
    border: 2px solid blue;
    width: 10rem;
    height: 20rem;
}

.con2 {
    border: 2px solid green;
    width: 10rem;
    height: 20rem;
}
/* flex */
.chachu {
    border: 2px solid red;
    display: flex;
}
.chau {
    border: 2px solid blue;
    width: 30rem;
    padding: 1rem;
}
.chac {
    border: 2px solid green;
    width: calc(100vw - 30rem);
    padding: 1rem;
}
/* position */
.big-div {
    border: 2px solid teal;
    width: 30rem;
    height: 30rem;
    /* position: relative; */
    /* position: fixed;
    top: 2rem;
    left: 2rem; */
}
.small-div {
    border: 2px solid blue;
    /* position: relative;
    top: 3rem;
    left: 3rem; */
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* top: 100%;
    right: 0;
    transform: translate(0, -50%); */
}
.btn {
    position: sticky;
    top: 1rem;
}
/* position: static: tĩnh | không xê dịch
  position: relative: xê dịch dựa trên tham chiếu là chính nó nếu static 
  position: absolute xe dịch dựa trên tham chiếu là 1 thằng cha có 
        position khác static
  position: fixed: cố định vị trí trên màn hình của mình*/

/* 
pseudo tag : span div
pseudo class:  :hover| :active | :visited | :unvisited | :focus 
pseudo element: ::after | ::before | ::first-letter | ::backdrop
*/
.ahihi::before {
    content: "hehe";
}
.ahihi::after {
    content: "huhu";
}
/* btn */
.btn-demo {
    margin: 3rem;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border: 1px solid hotpink;
    color: hotpink;
    background-color: transparent;
    position: relative;
    transition: 0.3s;
}
.btn-demo::after {
    content: "";
    position: absolute;
    background-color: hotpink;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    transition: 0.3s;
    z-index: -1;
}
.btn-demo:hover::after {
    left: 0;
    width: 100%;
}
.btn-demo:hover {
    color: white;
}
