$color_1: #333333;
$color_2: #959494;
$color_3: #84B315;
$color_4: #FFFFFF;
$font-family_1: Roboto, sans-serif;
$font-family_2: "Roboto", sans-serif;
$font-family_3: "Rajdhani", sans-serif;
$font-family_4: "Open Sans", sans-serif;
$background-color_1: #84B315;
.blog-subcribe{

	.blog__title {
		font-weight: 400;
		font-size: 38px;
		line-height: 1.3;
		color: $color_1;
		text-align: center;
		font-family: $font-family_1;
	}
	.container {
		width: 1320px;
		height: auto;
		margin: 0 auto;
	}
	.card__link {
		text-decoration: none;
	}
	.card__block {
		width: 40rem;
		height: 36rem;
		transition: 0.5s;
		&:hover {
			box-shadow: 0px 0px 6px 2px #afafaf;
		}
	}
	.card__img {
		width: 100%;
		padding: 0 0.3rem;
		height: 28rem;
	}
	.card__image {
		width: 100%;
		height: 100%;
	}
	.card__info {
		width: 100%;
		padding: 0 0.3rem;
	}
	.card__title {
		text-align: justify;
		font-weight: 500;
		font-size: 22px;
		line-height: 1.3;
		color: $color_1;
		font-family: $font-family_2;
	}
	.card__content {
		text-align: justify;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.3;
		color: $color_1;
		width: 100%;
		height: 16rem;
		font-family: $font-family_3;
	}
	.subcribe {
		color: $color_2;
		font-size: 14px;
		padding: 60px 0px;
		font-family: $font-family_4;
		width: 100%;
		margin: 0px 50px 0px 50px;
	}
	.subcribe-row {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	.subcribe-row__left-side {
		color: $color_2;
		font-family: $font-family_4;
		font-size: 14px;
		padding: 0px 15px;
		width: 50%;
	}
	.subcribe-row__title {
		color: $color_1;
		font-family: $font-family_2;
		font-size: 38px;
		text-align: left;
	}
	.subcribe-row__content {
		color: $color_3;
		font-family: $font-family_3;
		font-size: 22px;
		margin: 0px 0px 10px;
	}
	.subcribe-row__right-side {
		color: $color_2;
		font-family: $font-family_4;
		font-size: 14px;
		padding: 0px 15px;
		display: flex;
		align-items: center;
		width: 50%;
	}
	.subcribe__contactBox {
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.subcribe__form {
		width: 100%;
	}
	.subcribe__input {
		margin: 20px;
		width: 50%;
	}
	.subcribe__button {
		background-color: $background-color_1;
		text-decoration: none;
		padding: 20px 25px;
	}
	.subcribe__button__text {
		color: $color_4;
		font-family: $font-family_4;
		font-size: 16px;
	}
	@media (max-width: 460px) {
		.subcribe {
			display: inline;
		}
		.subcribe-row {
			display: block;
		}
		.subcribe-row__title {
			width: 460px;
		}
		.subcribe-row__content {
			width: 300px;
		}
		.subcribe__input {
			margin: 0px;
			padding: 18px 25px;
		}
	}
	
}
/* Blog */
/* Container */
/* Card */
/* Subcribe */

