@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap";
/* Client-Review */
/* Events */
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
.gallery_container {
	background-color: peru;
	height: 80vh;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 0.5rem;
}
.client_review_container0 {
	background-color: #e3e6eb;
}
.client_review_container {
	background-color: #e3e6eb;
	max-width: 1320px;
	margin: 0 auto;
	.client_review_content {
		padding: 30px 0 0 30px;
		display: block;
		width: auto;
		.title {
			h2 {
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				font-size: 38px;
				line-height: 1.3;
				color: #333333;
			}
			h5 {
				font-family: Rajdhani, sans-serif;
				font-weight: 400;
				font-size: 22px;
				line-height: 1.3;
				color: #84B315;
			}
		}
		.review {
			text-align: center;
			margin: 0 auto;
			.splide.splide-client {
				padding: 4rem 0;
				.client_review {
					border: 2px dotted white;
					border-radius: 10px;
					padding: 1rem 0 2rem 0;
					.client_avatar {
						width: 10rem;
						height: 10rem;
						margin: 0 auto;
						img {
							width: 100%;
							height: 100%;
							border: 5px solid white;
							border-radius: 50%;
						}
					}
					p {
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						font-size: default;
						line-height: 1.42857;
						color: #959494;
					}
					h3 {
						font-family: 'Roboto', sans-serif;
						font-weight: default;
						font-size: 18px;
						line-height: 1.5;
						color: #333333;
					}
					.client_stars {
						i {
							color: #ffce39;
						}
					}
				}
			}
		}
	}
	.illustration-img {
		display: none;
		img {
			max-width: 100%;
			height: 100%;
		}
	}
}

@media screen and (min-width: 0px) {
	.client_review_container {
		.client_review_content {
			display: block;
			padding: 30px 30px 0 30px;
		}
	}
}
@media screen and (min-width: 1334px) {
	.client_review_container {
		.illustration-img {
			display: inline-block;
			width: 520px;
			height: 547px;
			background-repeat: no-repeat;
			background-size: 800px 800px;
			background-position: center;
			box-shadow: 0px 20px 12px 10px #e3e6eb inset;
		}
		.client_review_content {
			display: inline-block;
			max-width: 792px;
			vertical-align: top;
		}
	}
}
